@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --gray: hsl(233, 8%, 79%);
    --blue: hsl(236, 13%, 42%);
    --navy: hsl(240, 100%, 5%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: var(--fw-400);
    background-color: var(--off-white);
    width: 1440px;
}

/* MAIN SECTION */
main {
    max-width: 1440px;
    height: 100vh;
    padding: 40px 200px;
}

/* HEADER SECTION */
header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row;
}

.nav__ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
}

.nav__href {
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    color: var(--blue);
}

.nav__href:hover {
    color: var(--orange);
}

.nav__menu {
    display: none;
    cursor: pointer;
}

.nav__menu.menu__close {
    position: fixed;
    top: 40px;
    right: 20px;
}

.img__background {
    display: none;
}

/* MAIN SECTION */
main {
    display: grid;
    place-items: center;
}





/* ATTRIBUTION FOOTER SECTION */
.attribution {
    padding-top: 1rem;
    font-size: 11px;
    text-align: center;
    font-weight: var(--font-400);
    color: var(--dark-charcoal);
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


